rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return isSignedIn() &&
        request.auth.token.email == 'admin@unicontrol.com';
    }

    function isOwner(uid) {
      return isSignedIn() && request.auth.uid == uid;
    }

    function validStudentRole() {
      return request.resource.data.role == 'student';
    }

    function roleUnchanged() {
      return request.resource.data.role == resource.data.role;
    }

    match /users/{userId} {
      allow read: if isOwner(userId) || isAdmin();
      allow create: if isOwner(userId) &&
        (
          (isAdmin() && request.resource.data.role == 'admin') ||
          (!isAdmin() && validStudentRole())
        );
      allow update: if isAdmin() || (isOwner(userId) && roleUnchanged());
      allow list: if isAdmin();
      allow delete: if false;
    }

    match /uniformes/{uniformeId} {
      allow read: if isOwner(uniformeId) || isAdmin();
      allow create, update: if isOwner(uniformeId) &&
        request.resource.data.userId == request.auth.uid;
      allow list: if isAdmin();
      allow delete: if false;
    }

    match /matriculas/{matriculaId} {
      allow read: if isSignedIn();
      allow create: if isSignedIn() && request.resource.data.uid == request.auth.uid;
      allow update: if isSignedIn() &&
        resource.data.uid == request.auth.uid &&
        request.resource.data.uid == request.auth.uid;
      allow delete: if isSignedIn() && resource.data.uid == request.auth.uid;
      allow list: if false;
    }
  }
}
